body {font-family: 'Luckiest Guy', cursive; margin: 0; min-height: 100%;width: 100%;}

footer{
margin: 0;
}

nav  ul li {
list-style: none;
float: left;
font-size: 30px;
}

ul li a{
color: black;
text-decoration: none;
}

ul li a:hover{
color: black;
text-decoration: none;
font-size: xx-large;
}
header h2{
float: right;
font-size: 36px;
margin-top: -0px;
padding-right: 20px;
}
main h1 {
padding-top: 350px;

}
main{
text-align: center;
}

main button{
background-color: black;
color: white;
font-size: 36px; 
border-radius: 30px;
font-weight: bold;
}

main button:hover{
transform: scale(1.2);
transition: all .5s ease-in-out;
}

.container .inner {
width: 0;
height:auto;
border-bottom: 457px solid black;
border-right: 1920px solid transparent;
}